---
site: CPSC 349 - Project 3
title: About Us
---

{% include "_head.html" %}

<header>
    <h1>{{ title }}</h1>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="/"><i>Home</i></a></li>
            <li class="nav-item"><a href="/about"><i>About</i></a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="about">
        <aside>
            <h2>Louis</h2>
            <figure>
                <img alt="Stock photo" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/">
                <figcaption><i>Worked on mostly displaying images from json and creating individual pages.</i></figcaption>
            </figure>
        </aside>
        <aside>
            <h2>Firas</h2>
            <figure>
                <img alt="Stock photo" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/">
                <figcaption><i>I contributed to the home page styling and the nav bar</i></figcaption>
            </figure>
        </aside>
        <aside>
            <h2>Name</h2>
            <figure>
                <img alt="Stock photo" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/">
                <figcaption><i>Insert your about me here</i></figcaption>
            </figure>
        </aside>
        <aside>
            <h2>Randell</h2>
            <figure>
                <img alt="Stock photo" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/">
                <figcaption><i>I added the about page and navigation bar functionality</i></figcaption>
            </figure>
        </aside>
    </section>

</main>

{% include "_foot.html" %}
