---
site: CPSC 349 - Project 3
title: Photo Gallery
pagination:
    data: photos.u5o7nq1.media
    size: 1
    alias: photo
permalink: "photos/page-{{ photo.id | slugify }}/"
---

{% include "_head.html" %}

<header>
    <h1>{{ title }}</h1>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="/"><i>Return to Gallery</i></a></li>
            <li class="nav-item"><a href="/about"><i>About</i></a></li>
        </ul>
    </nav>
</header>



<main>
    <figure>
        <img src="{{ photo.src.original }}">
    <figcaption>
        <i>{{photo.alt}}</i>
        <p>By <a href="https://www.pexels.com/@vladbagacian">{{ photo.photographer }}</a></p>
    </figcaption>
    </figure>
</main>

{% include "_foot.html" %}
